{% extends 'base.html' %}
{% block title %} 글 상세보기 {% endblock %}
{% block content %}
<div class="container my-3">
<h1>제목:{{ mainpost.title }}</h1>
<div>
    본문:{{ mainpost.text }}
    작성자:{{ mainpost.author }}
</div>

<form action="{% url 'board:comment_create' mainpost.id %}", method="post">
    {% csrf_token %}
    <textarea class="form-control" name="text" id="text" rows="2" placeholder="Leave a comment here"> </textarea>
        <input type="submit" value="댓글달기">
</form>
   댓글: {{ mainpost.comment_set.count }}
   
   <ul>
    {% for comment in mainpost.comment_set.all %}
        <li>{{ comment.text }} 작성자:{{ comment.author }} {{ comment.created_date }}</li>
    {% endfor %}
    </ul>
   
</div>
{% endblock %}
   

