{% extends 'base.html' %} {% block title %} 글 상세보기 {% endblock %} 
{% block content %}
<div class="container my-3">
  <h2 class="card my-3">제목:{{ mainpost.title }}</h2>
  <h3 class="card my-3">
    <p>
      작성자:<strong>{{ mainpost.author }}</strong>작성시간 {{ mainpost.created_date }}
    </p>
  </h3>

  <div class="card my-3">
    <div class="card-text">{{ mainpost.text|linebreaksbr }}</div>
    <div class="my-3">
    <a href="#" class="btn btn-sm btn-outline-secondary">수정</a>
    <a href="#" class="btn btn-sm btn-danger btn-outline-secondary" style="color:white;">삭제</a>
</div>
  </div>

  <!--댓글-->
  
</div>
{% endblock %}
